.bio-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.bio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 10px;
}
.text {
  text-align: center;
  font-size: 1.2rem;
  width: 80vh;
}
